.night-theme {
  background-color: black;
  color:white;
  transition: color 2s, background-color 2s;
}
.day-theme {
  background-color: white;
  color:black;
  transition: color 2s, background-color 2s;
}
